@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    @@media screen and (min-width:480px) {
        .btn-info {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
            margin-top: 4px;
        }
    }
</style>

<h1 class="text-info">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-6 col-md-6">
        @if (@TempData["LicenseExpirationDate"] != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>  @TempData["LicenseExpirationDate"]</strong>
            </div>
        }
        @if (@TempData["Invalidloginattempt"] != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>  @TempData["Invalidloginattempt"]</strong>
            </div>
        }
        @if (@TempData["InvalidUser"] != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>  @TempData["InvalidUser"]</strong>
            </div>
        }
        @if (@TempData["EmailConfirmed"] != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>  @TempData["EmailConfirmed"]</strong>
            </div>
        }
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <section>
            <form asp-page-handler="OnPostAsync" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>

                <div class="form-group">
                    <p>
                        <a class="btn btn-info" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>    
                    <p>
                        <a class="btn btn-info"  id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-sm-6 col-md-6">
        <section>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    // No need to show anything here
                }
                else
                {
                    <h4>Use another service to log in.</h4>
                    <hr />

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
