@page
@model RegisterModel
@using EasyQuotationManager.Shared.Constant
@{
    ViewData["Title"] = "Register";
}
<style>
    @@media screen and (min-width:480px) {
        .btn-info {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
            margin-top: 4px;
        }
    }
</style>
<h1 class="text-info">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LicenseExpirationDate"></label>
                <input asp-for="Input.LicenseExpirationDate" class="form-control" />
                <span asp-validation-for="Input.LicenseExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @* If user is only admin then he/she can view the radio button of the roles. If need any other roles to show the radio button we have to update that here. Like
        @if (User.IsInRole(SD.AdminUser))
        so, now admin can view the roles radio button and he/she can create the specific roles wise user also.
            *@
            @if (User.IsInRole(SD.AdminUser))
            {
                <div class="form-group">
                    <input type="radio" name="rdUserRole" value="@SD.AdminUser" checked /> @SD.AdminUser
                    <input type="radio" name="rdUserRole" value="@SD.RegisteredUser" /> @SD.RegisteredUser
                </div>
            }

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>


    <div class="col-md-6">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    // No need to show anything here
                }
                else
                {
                    <h4 class="text-info">Use another service to register.</h4>
                    <hr />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
